@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap');

*:before,
*:after {
    box-sizing: inherit;
}
:root{
    --clr-bg: #880808;
    --clr-primary: rgb(138, 28, 21);
    --clr-secondary: rgba(236, 38, 24, 0.62);
}
body {
    min-height: 100vh;
    display: flex;
    font-family: 'poppins', Arial;
    justify-content: center;
    align-items: center;
    column-gap: 40px;
    background: var(--clr-bg);
    overflow: hidden;
}
.subscription-form {
    min-width: 350px;
    text-align: center;
    background-color: #cccccc9c;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: none;
    border-radius: 32px 64px;
}
  
h2 {
    font-size: 24px;
    margin-bottom: 20px;
}
h2 span{
    color: var(--clr-primary);
}
input[type="email"] {
    width: 90%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}
  
button[type="submit"] {
    padding: 10px 20px;
    background-color: var(--clr-primary);
    color: white;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    font-weight: bold;
    font-size: 1.1rem;
    transition: all .25s ease-in;
}
  
button[type="submit"]:hover {
    background-color: var(--clr-secondary);
}
  