body {
  width: 100%;
  height: 100vh;
  margin: 0;
  padding: 0;
}

.center {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgb(25, 25, 50);
}

.progress {
  width: 400px;
  height: 400px;
  background: rgb(69, 74, 110);
  border-radius: 5mm;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

circle {
  fill: none;
}

svg {
  transform: rotate(-90deg);
}

circle:nth-child(1) {
  stroke: rgb(25, 26, 49);
  stroke-width: 12px;
}

circle:nth-child(2) {
  stroke: white;
  stroke-dasharray: 848;
  stroke-dashoffset: calc(848 - (848 * 75) / 100);
  stroke-linecap: round;
  stroke-width: 16px;
  animation: progress 1s ease;
}

@keyframes progress {
  from {
    stroke-dashoffset: 848;
  }
}

.text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-family: poppins;
  font-size: 60px;
  color: rgb(255, 196, 0);
  font-weight: 500;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.text span {
  font-size: 14px;
  color: rgb(230, 230, 230);
}