@import "https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
}

body {
    display: grid;
    place-items: center;
    min-height: 100vh;
    background: #fff;
}

a {
    position: relative;
    cursor: pointer;
    background: #eee;
    padding: 1rem 2rem;
    margin: 0 20px;
    font-size: 1.7rem;
    display: inline-block;
    color: #eee;
    text-decoration: none;
    overflow: hidden;
    border: 2px solid #000;
    border-radius: 5px;
}

a span {
    position: relative;
    mix-blend-mode: difference;
}

a::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #000;
    transition: transform 0.3s;
    transform: scaleX(0);
    transform-origin: right;
}

a:hover::before {
    transform: scaleX(1);
    transform-origin: left;
}
