body{
	background: #000 none repeat scroll 0 0;
	color: #999;
	font-size: 100%;
	line-height: 24px;
	margin: 0;
	padding: 0;
	font-family: sans-serif;
}

.container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.heart-rate{
	width: 150px;
	height: 73px;
	position: relative;
	margin: 20px auto;
}

.fade-in{
position: absolute;
width: 100%;
height: 100%;
background-color: #000;
top: 0;
right: 0;
animation: heartRateIn 2.5s linear infinite;
}

.fade-out{
position: absolute;
width: 120%;
height: 100%;
background-color: #000;
top: 0;
right: -120%;
animation: heartRateOut 2.5s linear infinite;
background: rgba(0, 0, 0, 1);
background: linear-gradient(to right,rgba(0,0,0,1)0%, rgba(0,0,0,1)80%,rgba(0,0,0,0)100%);
}

@keyframes heartRateIn{
	0%{
		width: 100%;
	}
	50%{
		width: 0;
	}
	100%{
		width: 0;
	}
}
@keyframes heartRateOut{
	0%{
		left: -120%;
	}
	30%{
		left: -120%;
	}
	100%{
		left: 0;
	}

}
