body {
    width: 100%;
    height: 100vh;
    margin: 0;
    padding: 0;
}

.center {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgb(124, 19, 19);
}

.progress-bar {
    width: 400px;
    height: 24px;
    box-sizing: border-box; 
    outline: 0.6mm solid rgb(255, 255, 0);
    position: relative;
}

.progress-bar::before {
    position: absolute;
    content: "";
    top: 50%;
    left: 2px;
    transform: translate(0, -50%);
    width: 0;
    height: 20px;
    background: rgb(255, 255, 0);
    animation: progress 1.5s forwards infinite;
}

@keyframes progress {
    to {
      width: calc(100% - 2px);
    }
}