
body {
	margin: 0;
	padding: 0;
	background: #99a811;
  }
  
  .search-box {
	position: absolute;
	top : 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	background: #2f3640;
	height: 40px;
	border-radius: 40px;
	padding: 10px;
  }
  
  .search-box:hover > .search-text{
	width: 240px;
	padding: 0 6px;
  }
  
  .search-box:hover > .search-btn{
	background: white;
	color: black;
  }
  
  .search-btn {
	color: #ffd000;
	float: right;
	width: 40px;
	height: 40px;
	border-radius: 50%;
	background: #2f3640;
	display: flex;
	justify-content: center;
	align-items: center;
	transition: 0.4s;
	cursor: pointer;
	text-decoration: none;
  }
  
  .search-text {
	border: none;
	background: none;
	outline: none;
	float: left;
	padding: 0;
	color: white;
	font-size: 16px;
	font-weight: normal;
	transition: 0.4s;
	line-height: 40px;
	width: 0px;
  }