body {
    width: 100%;
    height: 100vh;
    margin: 0;
    padding: 0;
    background: rgb(166, 255, 0);
}
  
.center {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.item {
    width: 350px;
    height: 60px;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    background: white;
    border-radius: 3mm;
    margin: 10px 0;
    cursor: grab;
    box-shadow: rgba(0, 0, 0, 0.19) 0px 5px 10px,
      rgba(0, 0, 0, 0.23) 0px 3px 3px;
    transition: margin 0.25s;
}

.name {
    width: 100%;
    text-align: center;
    font-family: poppins;
    font-size: 18px;
    font-weight: 500;
}

.item span {
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translate(0, -50%);
    font-size: 30px;
    color: rgb(180, 180, 180);
}

.item.dragging {
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0) scale(1.15);
    pointer-events: none;
    z-index: 1000;
}

.insert-animation {
    animation: scaleit 0.1s ease-in-out;
}

@keyframes scaleit {
    from {
      transform: translate(-50%, 0) scale(1);
    }
}

.item.dragging .name {
    color: rgb(218, 83, 80);
}

.item.dragging span {
    color: rgb(214, 104, 103);
}