@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap");

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: "Inter", sans-serif;
}

body {
	display: flex;
	align-items: center;
	justify-content: center;
	min-height: 100vh;
	background: #eee;
}

span {
	font-size: 10vw;
	text-decoration: none;
	font-weight: 100;
	letter-spacing: -3px;
	animation: weight 2s infinite;
	animation-delay: calc(var(--char-index) * 150ms);
}

@keyframes weight {
	from {
		font-weight: 100;
	}

	50% {
		font-weight: 900;
	}

	to {
		font-weight: 100;
	}
}
